<h1>Registered Applications</h1>

<div class = "row">
  <div class = "col-md-8">
    <% @registered_applications.each do |app| %>
      <div class = "media">
        <div class = "media-body">
          <h4 class = "media-heading">
            <%= link_to app.name, app %> <small><%= link_to app.url %></small>
          </h4>
            <small>
              submitted <%= time_ago_in_words(app.created_at) %> by <%= app.user.name %>
            </small>
            <%= markdown_to_html app.description%>
        </div>
      </div>
    <% end %>
    <%= will_paginate @registered_applications %>
  </div>
  <div class = "col-md-4">
    <% if policy(RegisteredApplication.new).create? %>
      <%= link_to "Register New Application", new_registered_application_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

